<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('partials/bootstrap-link') %>
    <title>Home</title>
  </head>
  <body>
    <%- include ('partials/navbar') %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome, <strong><%=user.username%></strong></h1>
        <p class="lead"><b>GameRoom</b> is a website where you can invite and play games with your friends!</p>
      </div>
      <div class="container">
        <div class="row">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Fields</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Username</td>
                <td><%=user.username%></td>
              </tr>
              <tr>
                <td scope="row">Email</td>
                <td><%=user.email%></td>
              </tr>
              <tr>
                <td scope="row">Created At</td>
                <td><%=user.createdAt%></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="my-4" />
        <a class="btn btn-outline-primary btn-lg" href="/web/home/edit-user" role="button">Edit User</a>
        <button type="button" class="btn btn-outline-danger btn-lg" data-toggle="modal" data-target="#deleteModal">Delete User</button>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLongTitle">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">Please remember that deleted accounts can't be recovered without Admin's help. (not recommended)</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/web/home/delete-user" method="POST">
                  <button type="submit" class="btn btn-outline-danger" href="/web/home/delete-user">Yes, Delete My Account.</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ('partials/bootstrap-js') %> 
  </body>
</html>
